@media (max-width:1200px){
	.header-menu .header-nav-menu ul li a{
		margin-right: 30px;
	}

	.header-menu .header-nav-menu ul{
		margin-right: 30px;
	}

	.my-service-box ul{
		justify-content: center;
	}

	.my-service-box ul li{
		max-width: calc(100% / 2 - 30px);
		margin-bottom: 50px;
		padding: 65px 25px;
	}

	.sec-heading h2 {
		font-size: 40px;
	}

	section {
		padding: 70px 0;
	}

	.project-reviws-area .projects-box span {
		height: 60px;
		width: 60px;
		padding: 15px;
	}

	.project-reviws-area .projects-box h4 {
		font-size: 40px;
		margin-bottom: 5px;
	}

	.project-reviws-area .projects-box {
		height: 210px;
		width: 190px;
		margin-right: 30px;
	}

	.sec-heading h3 {
		font-size: 40px;
	}

	.touch-me-sec .row .sec-heading p {
		margin-bottom: 60px;
	}

	.recent-sec .recent-portfolio ul li{
		max-width: calc(50% - 20px);
	}

	.blog-row ul{
		justify-content: center;
	}

	.blog-row ul li{
		max-width: calc(50% - 40px);
		margin-bottom: 140px;
	}

	.footer-top .coll span {
		max-width: 11%;
	}

	.footer-top .coll{
		max-width: 100%;
		margin-bottom: 25px;
	}
	
}

@media (max-width:992px){

	.toggle-menu{
		display: flex;
	}

	.menu_open .header-menu .header-nav-menu ul {
		left: 0;
		transition: all 0.5s ease 0s;
	}

	.header-menu .header-nav-menu ul {
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		background-color: #212428;
		transition: all 0.5s ease 0s;
		margin: 0;
		width: 250px;
		left: -250px;
		z-index: 99;
	}

	.menu_open .toggle-menu{
		transition-duration: .5s;
		transform: rotate(180deg);
	}

	.menu_open .toggle-menu  .bars {
		position: absolute;
		transition-duration: .5s;
	  }

	  .menu_open .toggle-menu #bar2 {
		transform: scaleX(0);
		transition-duration: .1s;
	  }

	  .menu_open .toggle-menu  #bar1 {
		width: 100%;
		transform: rotate(45deg);
		transition-duration: .5s;
	  }

	  .menu_open .toggle-menu  #bar3 {
		width: 100%;
		transform: rotate(-45deg);
		transition-duration: .5s;
	  }

	.header-menu .header-nav-menu ul li{
		padding: 10px 20px;
		border-bottom: 1px solid #c2c2c2;
	}

	.btn-primary{
		font-size: 16px;
		padding: 9px 15px;
		margin-right: 20px;
	}

	section.info-sec .row {
		justify-content: center;
	}

	.info-sec .row .info-text{
		max-width: 100%;
	}

	.info-sec .row .info-text p{
		max-width: 100%;
	}

	.info-sec .row .info-img{
		max-width: 50%;
		margin-top: 20px;
	}

	.my-service-box ul li {
		max-width: 50%;
		margin-bottom: 70px;
		padding: 65px 25px;
	}

	.sec-heading h2 {
		font-size: 35px;
	}

	.sec-heading span {
		font-size: 20px;
	}

	.about-me-sec .sec-heading {
		max-width: 100%;
	}

	.about-me-sec .sec-heading .about-me-text p {
		margin-bottom: 22px;
	}

	.about-me-sec .sec-heading .about-me-text {
		width: 100%;
		margin-bottom: 22px;
		margin-left: 0;
	}

	.about-me-sec .row{
		justify-content: center;
	}

	.touch-me-sec .row .sec-heading {
		max-width: 100%;
	}

	.touch-me-sec .row .sec-heading p {
		margin-bottom: 50px;
	}

	.project-reviws-area {
		justify-content: center;
	}

	.touch-me-sec .touch-me-form form{
		margin: 0;
		padding: 50px 50px;
	}

	.touch-me-sec .touch-me-form {
		max-width: 100%;
	}

	.touch-me-sec .row{
		justify-content: center;
	}

	.expirenxe-sec .resume-nav ul li {
		padding: 30px;
		margin: 0px;
		width: 100%;
		max-width: 50%;
	}

	.features-bottom-side {
		margin-right: 50px;
	}

	.features-inner{
		max-width: 100%;
		margin-bottom: 15px;
	}

	.recent-sec .recent-portfolio ul li{
		max-width: 100%;
	}

	.recent-sec .recent-portfolio ul li .recent-pr-text h4 {
		font-size: 28px;
	}

	.blog-row ul li{
		max-width: 50%;
	}

	.about-me-sec .sec-heading .about-me-text::before {
		left: -5px;
		height: 50%;
		width: 2px;
	}

	.blog-row ul li {
		max-width: calc(100% - 40px);
		margin-bottom: 90px;
	}

	.notify-me {
		border: 3px solid var(--blue);
		width: 70%;
	}
	.notify-me input{
		padding: 15px;
	}

	.sunscribe-sec h3{
		margin-bottom: 40px;
	}

	.footer-top .coll span {
		max-width: 14%;
	}

}

@media (max-width:767px){

	body p{
		font-size: 12px;
	}

	.header{
		padding: 10px 0;
	}

	section {
		padding: 30px 0;
	}

	.btn-primary {
		font-size: 12px;
		padding: 7px 14px;
		margin-right: 15px;
	}

	.header-logo a img{
		width: 40px;
	}

	.header-logo a span {
		font-size: 15px;
		margin-left: 5px;
	}

	.info-sec .row .info-text h3{
		font-size: 20px;
	}

	.yt-link img {
		margin-right: 5px;
		max-width: 20px;
	}

	.yt-link{
		font-size: 12px;
		margin-left: 0px;
	}

	.info-sec .row .info-links{
		margin-top: 10px;
	}

	.my-service-box ul li h3 {
		font-size: 25px;
	}

	.my-service-box ul li {
		max-width: 100%;
		margin-bottom: 70px;
		padding: 30px 13px;
	}

	.my-service-box ul li .service-box-img {
		padding: 18px;
		top: -40px;
		width: 70px;
		height: 70px;
	}

	.my-service-box ul li {
		margin-bottom: 55px;
		border: 2px solid #03A9F4;
		border-radius: 10px;
		min-height: 250px;
	}

	.sec-heading span {
		font-size: 15px;
		margin-bottom: 5px;
	}

	.sec-heading h2 {
		font-size: 25px;
	}

	.sec-heading h4 {
		font-size: 17px;
	}

	.about-me-sec .sec-heading .about-me-text{
		margin: 0;
	}

	.about-me-sec .sec-heading .about-me-text::before {	
		left: -5px;
		height: 80%;
		width: 2px;
	}

	.sec-heading h3 {
		font-size: 30px;
	}

	.project-reviws-area .projects-box span {
		height: 40px;
		width: 40px;
		padding: 10px;
	}

	.project-reviws-area .projects-box h4 {
		font-size: 35px;
		margin-bottom: 8px;
	}

	.project-reviws-area{
		flex-direction: column;
		align-items: center;
	}

	.project-reviws-area .projects-box{
		margin: 0;
		margin-bottom: 10px;
		height: 180px;
		width: 220px;
	}

	.touch-me-sec .touch-me-form form {
		padding: 20px;
	}

	.touch-me-sec .touch-me-form form h3 {
		font-size: 22px;
	}

	.touch-me-sec .touch-me-form input, .touch-me-sec .touch-me-form textarea {
		padding: 10px;
		margin-bottom: 10px;
		border-radius: 12px;
		font-size: 11px;
		border: 1px solid #fff;
	}

	.submit-btn {
		padding: 9px 20px;
		border-radius: 12px;
		font-size: 13px;
	}

	.touch-me-sec .touch-me-form form p{
		margin-bottom: 8px;
	}

	.expirenxe-sec .resume-nav ul li {
		padding: 10px;
		margin: 0px;
		width: 100%;
		max-width: 100%;
	}

	.sec-heading {
		margin-bottom: 30px;
	}

	.feature-top-side h3 {
		font-size: 26px;
	}

	.feature-top-side span {
		font-size: 18px;
	}

	.features-inner .features-bottom-side .progress-inner h5 {
		font-size: 12px;
	}

	.progress{
		height: 5px;
		margin-bottom: 20px;
	}

	.features-inner .features-bottom-side .progress-inner .progres-bar span {
		top: -400%;
	}

	.recent-sec .recent-portfolio ul li .recent-pr-text h4 {
		font-size: 18px;
	}

	.client-detail .client-name h3 {
		font-size: 15px;

	}

	.clients-review .quotes img{
		max-width: 40px;
	}

	.client-detail{
		margin-bottom: 10px;
	}

	.client-img {
		max-width: 70px;
	}

	.clients-review p{
		max-width: 100%;
	}

	.clients-review .quotes{
		max-width: 100%;
	}

	.owl-nav button i {
		margin: 0 5px;
		padding: 8px;
		font-size: 12px;
	}

	.testimonial-sliders ul li {
		padding: 20px;
	}

	.blog-text .blog-text-img span {
		margin-left: 7px;
		font-size: 12px;
	}

	.blog-text h4 {
		font-size: 15px;
		margin-top: 15px;
	}

	.blog-text{
		padding: 30px;
	}

	.blog-row ul li{
		margin-bottom: 50px;
	}

	section.my-blog-sec {
		padding-bottom: 0;
	}

	.notify-me input {
		font-size: 12px;
	}
	
	.notify-me{
		width: 100%;
		border-radius: 13px;
	}

	.sunscribe-sec h3{
		margin-bottom: 20px;
		font-size: 15px;
	}

	.footer-top .coll span {
		max-width: 20%;
		height: 55px;
		padding: 15px;
		margin-bottom: 10px;
	}

	.copy-right {
		width: 100%;
		max-width: 100%;
	}

	.footer-bottom-ul {
		align-items: center;
		width: 100%;
		justify-content: center;
		max-width: 100%;
	}

	.footer-top {
		padding: 30px 0;
	}

	.copy-right a{
		justify-content: center;
		margin-bottom: 10px;
	}

	.footer-botttom {
		padding: 15px 0;
	}

	.footer-bottom-ul a{
		margin: 0 10px;
	}

}